/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
br {
    clear: both;
}
#FOadminContent pre{
	color: var(--fo-text-color)!important;
	background-color: var(--fo-bg-color)!important;
}
#FOadminContent h1{
	color: #fff;
	    align-items: center;
}
#FOadminContent img{
	padding: 5px;
	margin: 2px;
}
#FOadminContent{
    margin: 10px;
    padding: 10px;
    background-color: var(--fo-bg2-color);
    color: var(--fo-text-color);
    font-size: medium;
}
.FOForm{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #c2c2c2;
}
.FOFormSeparator{
	color: var(--fo-text-color);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--fo-bg6-color);
	padding: 10px;
	margin: 10px;
}
.FOFormCategory{
	color: var(--fo-text-color);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #00000021;
/*	padding: 10px;*/
	margin: 20px;
}
.FOFormCategory b{
	color: var(--fo-text-color);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--fo-bg-color);
	padding: 10px;
	margin: 0px auto;
}
.FOFormZone{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0px 10px;
}
.FOFormZone p{
	margin: 10px;
}
.FOFormZone textarea{
	margin: 10px;
	width: 100%;
	min-height: 100px;
	height: auto;
}
.FOFormZone input{
	margin: 0px 25px 0px 5px;
}
.FOFormButton{
	margin: 10px;
	cursor: pointer;
	font-size: medium;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 10000;
}
.FOMainNav{
	margin: 30px 0px;
	background-color: var(--fo-bg6-color);
	padding: 25px;
}
.FOMainNavEl{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	color: var(--fo-text-color);
	text-decoration: none;
	background-color: var(--fo-bg3-color);
	transition: var(--fo-main-tran);
}
.FOMainNavEl:hover, .FOMainNavEl:focus{
	border-radius: 10px;
	color: var(--fo-text-color);
	background-color: var(--fo-bg2-color)!important;
	transition: var(--fo-scnd-tran);
}
.FOsettingEl{
	max-width: 500px;
	padding: 10px;
	margin: 10px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: var(--fo-main-tran);
	border: var(--fo-main-border);
	background-color: #cfcfcf;
}
.FOsettingEl textarea{
	min-width: 500px;
	padding: 10px;
	margin: 10px;
}
.FOtextSettings{
	font-size: medium;
	margin: 0px auto;
	padding: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: var(--fo-text-color-inv);
}
.pointer{
	cursor: pointer;
}
.FObutton{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	color: var(--fo-text-color);
	background-color: var(--fo-bg3-color);
	transition: var(--fo-main-tran);
	height: 50px;
}
.FObutton:hover, .FObutton:focus{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color: var(--fo-text-color);
	background-color: var(--fo-bg2-color);
	transition: var(--fo-scnd-tran);
}
.FO_abutton{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	color: var(--fo-text-color);
	background-color: var(--fo-bg3-color);
	transition: var(--fo-main-tran);
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	line-height: normal;
}
.FO_abutton:hover, .FO_abutton:focus{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	color: var(--fo-text-color);
	background-color: var(--fo-bg4-color);
	transition: var(--fo-scnd-tran);
}
.FOzero{
	margin: 0px!important;
	padding: 0px!important;
}

.FOcomingSoon, .FO_section{
	padding: 10px;
	margin: 20px;
	background-color: var(--fo-main-color);
}

.FOsettingStyle{
    margin: 0px;
    padding: 50px 0 0 0;
}

.FOsettingStyle p{
    background-color: #000000b0;
    margin: 10px!important;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fo-vari-tabs-container, .FOSetting_Board{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	padding: 10px;
}
.fo-vari-tabs-panel{
	height: 300px;
	width: 210px;
	padding: 10px;
	margin: 5px;
	overflow: auto;
	border-radius: 10px;
	border: 1px solid grey;
}
.fo-vari-tabs-panel li{
	list-style: none;
}
.fo-vari-title{
	font-size: 18;
	font-weight: 500;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.FOQRCloud{
	padding: 10px;
	margin: 10px;
	width: calc(100% - 40px);
	max-width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.QR_search_target{
	margin: 10px auto!important;
}

.FO_link{
	padding: 5px;
	margin: 0px 5px;
	cursor: pointer;
}

.FO_link_del{
	padding: 5px;
	margin: 0px 5px;
	color: red;
	cursor: pointer;
}

.FO_link_del:hover{
/*	color: red;*/
}

.FO_NEW_QR{

}






